.help-wrapper {
  display: flex;
}
.help {
  font-size: 1.75rem;
  color: #a1a2af;
  cursor: pointer;
}
.weekly-goals {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto;
  padding: 2rem 4em;
}

.week-of-year {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.weekly-focus input {
  height: 5rem;
  background-color: rgba(191, 213, 240, 0.4);
  padding: 0.5rem 0.75rem;
  margin-bottom: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #444;
  width: 100%;
}
.weekly-focus label,
.week-of-year p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 300;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: auto;
}

.week-of-year p {
  color: #671616;
}

.todo-desc .completed {
  text-decoration: strikethrough;
}

/* Weekly goals */
.goals-todo {
  width: 100%;
  display: flex;
}

.goals-list-group {
  background-color: rgba(191, 213, 240, 0.4);
  padding: 1rem 1rem 1rem 2rem;
  width: 100%;
  height: 30rem;
  position: relative;
  overflow-y: auto;
}

.goals-list-group ol li:not(:last-child) {
  border-bottom: 1px solid #fff;
  margin: 0.5rem 0;
}

.goals,
.todo-list {
  position: relative;
}

.goals .plus span {
  float: right;
  background: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 3.5rem;
  color: rgb(34, 95, 22);
  cursor: pointer;
}

.todo-list .plus span {
  float: right;
  font-size: 3.5rem;
  position: absolute;
  color: rgb(34, 95, 22);
  cursor: pointer;
  bottom: 1rem;
  right: 1rem;
}

.goals .remove,
.todo-list .remove,
.habit-row td .options .remove {
  color: #ad0707;
  cursor: pointer;
}

.goals .edit,
.todo-list .edit,
.habit-row td .options .edit {
  color: rgb(129, 129, 4);
  cursor: pointer;
}
/* End of Weekly goals */

/* Todo List */
.todo-list,
.goals {
  width: 50%;
}

.todo-list.title,
.goals .title {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.todo-list-group {
  padding: 0.8rem 0rem 0.8rem 2rem;
  height: 30rem;
  overflow-y: auto;
}

.todo-list-group ul {
  list-style: none;
}

/* End of Todo List */

/* Tracker table*/
.habit-tracker-section {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tracker-table {
  margin-top: 2rem;
  border-collapse: collapse;
  width: 100%;
}

.tracker-table th,
.tracker-table td {
  border: 1px solid #ddd;
}

.tracker-table th {
  padding: 1rem;
}
.tracker-table td {
  padding: 0.5rem 0.5rem;
}

.tracker-table thead th {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 3px double #ccc;
}

.tracker-table thead th:nth-child(9),
.tracker-table thead th:nth-child(10),
.tracker-table tr td:nth-child(9),
.tracker-table tr td:nth-child(10) {
  width: 10%;
}

.habit-totals {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
}

td.habit-totals {
  padding: 1rem 0.5rem;
  border-bottom: none;
  border-left: none;
}

.habit-tracker-section .plus span {
  font-size: 3.5rem;
  color: rgb(34, 95, 22);
  cursor: pointer;
  bottom: 1rem;
  right: 1rem;
}

/* End of Tracker table*/

/* Daily Goals */
.daily-goals-section {
  display: grid;
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

.day-goals .title {
  background-color: rgba(191, 213, 240, 0.4);
  padding: 1.05rem 1.2rem;
  color: #671616;
  font-weight: 400;
}

.day-goals textarea {
  resize: none;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  border: 0.1rem solid #ccc;
  padding: 0.75rem 1.25rem;
  width: 100%;
  min-height: 15rem;
}
/* End of Daily Goals */
