.help-wrapper {
  display: flex;
}
.help {
  font-size: 1.75rem;
  color: #a1a2af;
  cursor: pointer;
}
.weekly-goals {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto;
  padding: 2rem 4em;
}

.week-of-year {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.weekly-focus input {
  height: 5rem;
  background-color: rgba(191, 213, 240, 0.4);
  padding: 0.5rem 0.75rem;
  margin-bottom: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #444;
  width: 100%;
}
.weekly-focus label,
.week-of-year p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 300;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: auto;
}

.week-of-year p {
  color: #671616;
}

.todo-desc .completed {
  text-decoration: strikethrough;
}




/* Daily Goals */

/*.daily-goals-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}
*/
/*.day-goals .title {
  background-color: rgba(191, 213, 240, 0.4);
  padding: 1.05rem 1.2rem;
  color: #671616;
  font-weight: 400;
}

.day-goals textarea {
  resize: none;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1.25rem;
  width: 100%;
  min-height: 15rem;
}*/
/* End of Daily Goals */
