/* Todo List */
.todo-list,
.goals {
  width: 50%;
}

.todo-list.title,
.goals .title {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.todo-list .plus span {
  float: right;
  font-size: 3.5rem;
  position: absolute;
  color: rgb(34, 95, 22);
  cursor: pointer;
  bottom: 1rem;
  right: 1rem;
}

.todo-list-group {
  padding: 0.8rem 0rem 0.8rem 2rem;
  height: 30rem;
  overflow-y: auto;
}

.todo-list-group ul {
  list-style: none;
}
/* End of Todo List */
