/* Tracker table*/
.habit-tracker-section {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tracker-table {
  margin-top: 2rem;
  border-collapse: collapse;
  width: 100%;
}

.tracker-table th,
.tracker-table td {
  border: 1px solid #ddd;
}

.tracker-table th {
  padding: 1rem;
}
.tracker-table td {
  padding: 0.5rem 0.5rem;
}

.tracker-table thead th {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 3px double #ccc;
}

.tracker-table thead th:nth-child(9),
.tracker-table thead th:nth-child(10),
.tracker-table tr td:nth-child(9),
.tracker-table tr td:nth-child(10) {
  width: 10%;
}

.habit-totals {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
}

td.habit-totals {
  padding: 1rem 0.5rem;
  border-bottom: none;
  border-left: none;
}

.habit-tracker-section .plus span {
  font-size: 3.5rem;
  color: rgb(34, 95, 22);
  cursor: pointer;
  bottom: 1rem;
  right: 1rem;
}

/* End of Tracker table*/
